body {
  /* padding: 50px; */
  margin: 0 !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F8FCFA;
}

.main-box {
  min-height: calc(100vh - 90px - 122px); /* footer 높이를 빼준다. */
}
.top-header {
  justify-content: center;
  align-items: center;
  background-color: #7dc1a5;
  display: flex;
  width: 100%;
  padding-top: 49px;
  padding-bottom: 49px;
}
@media (max-width: 991px) {
  .top-header {
    max-width: 100%;
    padding: 0 20px;
  }
}
.logo {
  aspect-ratio: 6.25;
  object-fit: auto;
  object-position: center;
  width: 758px;
  max-width: 100%;
}

.start-box {
  margin-top: 50px !important;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  width: 75%;
  max-width: 100%;
  gap: 20px;
}

.input-box {
  border-radius: 4px;
  background-color: #edf2f7;
  color: var(--gray-400, #000);
  width: 70%;
  border-color: transparent;
  padding: 17px ;
  font: 400 14px Inter, sans-serif;
}
@media (max-width: 991px) {
  .input-box {
    padding: 17px 20px;
  }
}
.start-button {
  justify-content: center;
  border-radius: 6px;
  background-color: var(--purple-500, #7dc1a5);
  color: #fff;
  border-color: transparent;
  white-space: nowrap;
  padding: 10px 24px;
  font: 600 18px/156% Inter, sans-serif;
}
.start-button:active {
  box-shadow: 2px 2px 0 rgb(0,0,0,0.3);
}
@media (max-width: 991px) {
  .start-button {
    white-space: initial;
    padding: 10px 20px;
  }
}
.table {
  background-color: var(--white, #fff);
  font-size: 14px;
  color: var(--gray-700, #2d3748);
  white-space: nowrap;
  /* line-height: 143%; */
  width: 100%;
  padding: 50px;
  margin: 0 auto;  
  min-height: calc(100vh - 600px); /* footer 높이를 빼준다. */
}
.table-box {
  margin: 0 auto;
  max-height: calc(100vh - 300px); /* footer 높이를 빼준다. */
  min-height: calc(100vh - 600px); /* footer 높이를 빼준다. */
  margin-top: 20px !important;
  width: 70%;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
}
.show-button {
  margin-left: 5px;
  justify-content: center;
  border-radius: 6px;
  background-color: var(--purple-500, #7dc1a5);
  color: #fff;
  border-color: transparent;
  white-space: nowrap;
}
.show-button:active {
  box-shadow: 2px 2px 0 rgb(0,0,0,0.3);
}
/* @media (max-width: 991px) {
  .table {
    max-width: 100%;
    margin-top: 40px;
    white-space: initial;
  }
} */
.row {
  justify-content: start;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 150px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 133%;
  padding: 8px 0;
}
@media (max-width: 991px) {
  .row {
    gap: 50px;
  }
}
.content-header {
  font-family: Inter, sans-serif;
  justify-content: center;
  align-items: start;
  background-color: var(--white, #fff);
  align-self: stretch;
  flex: 1;
  margin: auto 0;
  padding: 7px 24px;
  font-size: large;
  font-weight: bold;
  text-align: center;
  min-width: 67px;
  max-width: 67px;
}
/* @media (max-width: 991px) {
  .content-header {
    white-space: initial;
    padding: 0 20px;
  }
} */
.content {
  font-family: Inter, sans-serif;
  justify-content: center;
  align-items: start;
  background-color: var(--white, #fff);
  align-self: stretch;
  flex: 1;
  margin: auto 0;
  padding: 7px 24px;
  text-align: center;
  min-width: 67px;
  max-width: 67px;
}
/* @media (max-width: 991px) {
  .content {
    white-space: initial;
    padding: 0 20px;
  }
} */
.button-content {
  display: flex;
  min-width: 67px;
  max-width: 67px;
  font-size: 12px;
  color: var(--white, #fff);
  font-weight: 700;
  justify-content: center;
  margin: 0 auto;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 24px;
  padding-right: 24px;
}
@media (max-width: 991px) {
  .button-content {
    white-space: initial;
  }
}
.warn-button {
  font-family: Inter, sans-serif;
  border-radius: 2px;
  background-color: var(--orange-500, #dd6b20);
  justify-content: center;
  padding: 2px 4px;
}
@media (max-width: 991px) {
  .warn-button {
    white-space: initial;
  }
}
.danger-button {
  font-family: Inter, sans-serif;
  border-radius: 2px;
  background-color: #e53e3e;
  justify-content: center;
  padding: 2px 4px;
}
@media (max-width: 991px) {
  .danger-button {
    white-space: initial;
  }
}
.normal-button {
  font-family: Inter, sans-serif;
  border-radius: 2px;
  background-color: var(--green-500, #38a169);
  justify-content: center;
  padding: 2px 4px;
}
@media (max-width: 991px) {
  .normal-button {
    white-space: initial;
  }
}

.result-tag {
  font-family: Inter, sans-serif;
  justify-content: center;
  padding: 2px 24px;
  overflow:hidden;
  white-space:nowrap;
  min-width: 67px;
  max-width: 67px;
  color: #000;
}
.result_eclipse {
  text-overflow:ellipsis;
  max-width:none;
}
.input-form {
  width: 70%;
  display: flex;
  flex-direction: row;
}

